.alarm-container {
  width:50%;
  height:20em;
  border:1px solid #eee;
  margin:auto;
  margin-top:50px;
}

.lower-button {
  background: #6a4d37;
  border: 2px solid #38291d;
  font-family: monospace;
  padding: .5em;
  color: white;
  box-shadow: 0 2px #292929;
  margin-left: 17px;
}


.input-info {
  margin-top: 20px;
    text-align: center;
}

.lower-button:hover {
  background: #4e3b2d;
}

.generic-input {
  border: 2px solid gray;
  border-radius: 2px;
  font-size: 1em;

}

/* .lower-button:active {
  box-shadow: 0 0px #292929;
  border-top-width: 4px;
  border-bottom-width:0px;
}
   */

.alarm-box {
  width:75%;
  height:8vw;
  background: rgb(115,83,60);
  background: linear-gradient(180deg, rgba(115,83,60,1) 0%, rgba(50,36,26,1) 100%);
  border-radius:5px;
  margin:auto;
  margin-top: 3.2rem;
  border:2px solid #383838;
}

.clock {
  width:10%;
  height:2.5vw;
  background:#292929;
  border-radius:5px;
  position: absolute;
  margin-top:1em;
  margin-left:1em;
  border: 2px solid #2b2b2b;
}

.clock-display {
  font-size:2vw;
  font-family: monospace;
  /* padding-left:6px; */
  text-align: center;
  /* margin-top: 1.2rem; */
  /* margin-left: 1rem; */
}

.power-shadow {
  box-shadow: 0 0 12px 0px indianred;
}

.has-power {
  color:indianred;
}

.no-power {
  color:lightpink;
  opacity:.5;
}

.power-button {
  border:none;
  text-align: center;
  margin-top: 2.4em;
  width: 4em;
  height: 1.5em;
  background: #607D8B;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  margin-left: 7vw;
  font-family: monospace;
  font-weight: bold;
  text-transform: uppercase;
  color: whitesmoke;
  position: absolute;
}

.power-button:hover {
  background: rgb(71, 93, 104);
  cursor: pointer;
  /* margin-top:1em; */
}

.power-button:active {
  /* margin-top:3em; */
  /* height:1.4em; */
}


.foot {
 width:3vw;
 height:.5em;
 background-color:#292929;
 border-bottom-left-radius: 5px;
 border-bottom-right-radius: 5px;
 /* display:inline-block; */
 /* margin-top:45px; */
/* position: absolute; */

}

.tuner-needle {
  width:3px;
  background:black;
  height:17px;
}

.tuner-bar {
  height: 2px;
  /* width: 100%; */
  margin-top: 1vw;
  background-color: black;
}

.tuner-bar .tuner-on {
  box-shadow: 0 0 20px 0px indianred;
}


.tuner-on .station {
  color: indianred;

}

.station {
    display: inline;
    color: #a0a0a0;
    padding-top: 10px;
    padding-right: 2vw;
    border-left: 2px solid #272727;
    font-size: 1vw;
    font-family:monospace;
}

.station:first-child {
  margin-left:10px;
}

.left-foot {
margin-left:7vw;
float:left;
}

.right-foot {
margin-left:40vw;

}

.tuner {
  width:22vw;
  height:3vw;
  background:#383838;
  border-radius:5px;
  margin-top:1em;
  margin-left:35%;
  border: 2px solid #2b2b2b;
  display:inline-block;
}